body {
	display: flex;
	background-color: #f3f3f3;
}

.pane {
	margin: 0.5rem;
}

/***** left pane *****/
#problist {
	width: auto;
	min-width: 10rem;
	max-width: min(20%, 15rem);
	overflow-y: scroll;
	overflow-x: hidden;
}

#problist .problem {
	margin-bottom: 0.3em !important;
	width: 100%;
	text-align: left;
}

/* make selected problem colored in some way */
#problist .problem.selected {
	font-weight: bolder;
	background-color: #8D8741;
}

#problist .problem:hover {
	background-color: #DAAD86 !important;
}

/***** mid pane *****/
#statementWrapper {
	-webkit-box-shadow: 4px 4px 7px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 4px 7px -1px rgba(0,0,0,0.75);
	box-shadow: 4px 4px 7px -1px rgba(0,0,0,0.75);
	flex-grow: 1;
	flex-basis: 50rem;
}

#statement.pre {
	width: 100%;
	height: 100%;
	white-space: pre-wrap;
	font-family: monospace;
	overflow-y: scroll;
}

/***** right pane *****/
#action {
	display: flex;
	flex-direction: column;
}

#submit {
	margin: 0;
}

#codeinput {
	margin-top: 1rem;
	margin-bottom: 1rem;
	flex-grow: 1;
	font-family: monospace;
	resize: none;
}

/* :invalid is active when the textarea is empty */
#codeinput:invalid {
	background-image: url("data:image/svg+xml;base64,\
PHN2ZyB3aWR0aD0iOTYiIGhlaWdodD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAw\
L3N2ZyIgeG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiA8Zz4KICA8dGV4\
dCB5PSIzNSIgeD0iNDgiIGZpbGw9ImdyYXkiIHN0cm9rZS13aWR0aD0iMCIgZm9udC1zaXplPSIz\
NiIgZm9udC1mYW1pbHk9Ik1vbm9zcGFjZSIgdGV4dC1hbmNob3I9Im1pZGRsZSIgeG1sOnNwYWNl\
PSJwcmVzZXJ2ZSIgZm9udC13ZWlnaHQ9Im5vcm1hbCIgZm9udC1zdHlsZT0ibm9ybWFsIiBzdHJv\
a2U9ImdyYXkiPiZsdDsvJmd0OzwvdGV4dD4KIDwvZz4KPC9zdmc+Cg==\
	");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

/* submission table */
#submissionsListWrapper {
	max-height: 60vh;
	overflow-y: scroll;
}

.execution {
	padding: 0.2rem;
	margin: 0.1rem;
	border-radius: 0.25rem;
	font-family: monospace;
	font-size: small;
	display: inline-block;
	position: relative; /* needed so that message dots are shown properly */
}

/* executions that have a message */
.execution.has-message {
	border-bottom-style: dotted;
	border-bottom-width: 0.15rem;
}

/*
 * Dot after the span - doesn't render well when viewport too small
.execution.has-message::after {
	content: "";
	position: absolute;
	height: 100%;
	width: 10px;
	top: -2px;
	background-image: radial-gradient(circle at center, red 3px, transparent 3px), radial-gradient(circle at center, red 3px, transparent 3px);
	background-size: 10px 10px;
	background-repeat: no-repeat;
}
*/

.execution.bad {
	background-color: #e0e1e2;
}

.execution.good {
	background-color: #21ba45;
}

.submission.judging {
	background-color: gray;
}
