html
	head
		title= title
		link(rel='stylesheet' href='app.css')
	body
		div#problist
			each prob in problems
				div(class='problem' id=prob.id)= prob.name
		div#action
			textarea#codeinput
			br
			button#submit submit

		script(src='app.js')
